<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>Email para Confirmación de Reserva</title>
</head>
<body>
  
  <h1>Estimado/a cliente: {{name}} {{surname}} </h1>

  <p> Gracias por hacer una reserva al servicio de Residencia Olmos </p>
  <p> Su habitación ha sido marcada como Tomada, por lo que su estadía podrá confirmarse cuando se realicen estos pasos:
<ul>
  <li><p> Llame al teléfono {{telefono}} para recibir mayores instrucciones sobre el depósito bancario</p></li>
  <li><p> Realice el pago correspondiente y obtenga una foto clara del voucher</p></li>
  <li><p> Ingrese a la página web de reservas, se dirija a la sección Reservas, seleccione "Revisar Reserva" y registre la foto en la sección "Pago de Reserva"</p></li>
</ul>

 <p>Asi mismo, puede llamar al mismo número si quisiera anular la reserva o modificar detalles de esta</p>


  <p>Agradecemos su preferencia</p>
  <p>La Administración<p>
  
</body>
</html>